body{
    padding: 0;
    margin: 0;

}

.container{
 padding-top: 5%;
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 background: linear-gradient(45deg, rgb(21, 83, 141), rgb(21, 141, 75), rgb(141, 133, 21));

}
.to_do_box{
    background-color: rgb(231, 231, 231);
    width: fit-content;
    padding: 20px;
    height: fit-content;
    border-radius:5px ;

}

.input_box{
    display: flex;

}
.input_box button{
   background-color: rgb(223, 211, 42);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80px;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px ;
    font-family:sans-serif;
    font-size: 21px;
    transition: all 0.3s ease-out;
    cursor: pointer;
    width: 100px;
    user-select: none;

}
.input_box button:hover{
    background-color:rgb(189, 179, 51) ;
    /* font-size:medium; */
}
.input_box button:active{
    background-color:rgb(189, 179, 51) ;
    font-size:23px;
}
.text-input{
    width: 370px;
    height: 55px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border: none;
    outline:none;
    margin-right: -20px;
    font-size: large;
    font-family: sans-serif;
    padding: 5px;
}

.heading{
    /* background-color: blue; */
    text-align: center;
    margin:-10px;
    font-family: sans-serif;
    font-size: 30px;
}

ul{
    margin-left: 0;
    padding-left: 0;
    position: relative;
    
}
ul li{ 
    display: flex;
    justify-content:space-between ;
    list-style: none;
    position: relative;
    /* background-color: rgb(170, 170, 170); */
    font-family:sans-serif;
    font-size:18px ;
    font-weight: lighter;
    user-select:none;
    padding: 12px 8px 12px 40px;
    margin-bottom: -15px;
}
ul li::before{
    content:"";
    position: absolute;
    /* background-color: black; */
    height: 22px;
    width: 20px;
    border-radius: 50%;
    background-image:url(icons/circle.svg); 
    background-size: cover;
    background-position: center;
    left:0px;
    cursor: pointer;
    /* top: ; */
    top:11px;
 
}

ul li.checked::before{
    background-image: url(icons/marked-circle.svg);

}


ul li.checked .text{
    text-decoration: line-through;
}


span{
    /* position: absolute; */
  
    font-size:26px ;
    height: 40px;
    color: #555;
    transition:all 0.3s ease-out ;
    cursor: pointer;
    height: 27px;
    width: 27px;
    text-align: center;
    border-radius: 10%;
    border-radius: 50%;
    /* font-weight: bold; */
    /* text-decoration: none !important; */
}
span:hover{
    color: rgb(0, 0, 0);
    background-color:rgb(197, 196, 196) ;
}

.text{
    font-family:sans-serif;
    font-size:18px ;
    font-weight: lighter;
    color: black;

}
.text:hover{
    color: black;
    background-color: rgb(231, 231, 231) ;
}
ul li.checked .delete{
text-decoration: none !important;
}



/* ======show pass ====== */

.parent{
    position: relative;
}

#show{
    border: none;
    position: absolute;
    left: 150px;
    top: 5px;
    background: transparent;
}
.the_one{
    padding: 5px;
    border-radius: 4px;
    outline: none;
}
.fa-eye-slash{
    color: #9e2414;
}
.fa-eye{
    color: #257411;
}